[manifest]
version = "1.0.0"
dump_lua = true
priority = 1000


# Code thanks to UNIKs mod (and also Aikoyori)
# Lets us inject our custom suits' cross-mod ranks (like Paperback's Apostles)
# If SMODS ever defines a rank_map, that would be neat
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "        local _atlas, _pos = get_front_spriteinfo(_front)"
position = "after"
payload = """
_atlas, _pos = DRAGQUEENMOD.sprite_info_override(_center, _front, self, _atlas, _pos)
"""
match_indent = true


[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "        local _atlas, _pos = get_front_spriteinfo(_front)"
position = "after"
payload = """
_atlas, _pos = DRAGQUEENMOD.sprite_info_override(_center, _front, self, _atlas, _pos)
"""
match_indent = true