[manifest]
version = "1.0.0"
dump_lua = true
priority = 1000


# Code thanks to UNIKs mod (and also Aikoyori)
# Lets us inject our custom suits' cross-mod ranks (like Paperback's Apostles)
# If SMODS ever defines a rank_map, that would be neat
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "        local _atlas, _pos = get_front_spriteinfo(_front)"
position = "after"
payload = """
_atlas, _pos = DRAGQUEENMOD.sprite_info_override(_center, _front, self, _atlas, _pos)
"""
match_indent = true


[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "        local _atlas, _pos = get_front_spriteinfo(_front)"
position = "after"
payload = """
_atlas, _pos = DRAGQUEENMOD.sprite_info_override(_center, _front, self, _atlas, _pos)
"""
match_indent = true


# I don't know why strength_effect (and its equivalent prev_behavior) in SMODS.modify_rank works like this,
# But entries in rank_data.prev and rank_data.next are strings like "King" etc
# but strength_effect / prev_behavior requires being an integer. And fixed behavior only pulls
# index 1 of .prev and .next.
# this overrides it to work I guess better

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = "rank_key = rank_data.next[i]"
position = "after"
payload = """
for _, rank in ipairs(rank_data.next) do
  if behavior.fixed == rank then
    rank_key = rank
  end
end
"""
match_indent = true

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = "rank_key = rank_data.prev[i]"
position = "after"
payload = """
for _, rank in ipairs(rank_data.prev) do
  if behavior.fixed == rank then
    rank_key = rank
  end
end
"""
match_indent = true