[manifest]
version = "1.0.0"
dump_lua = true
priority = 11

# Text icons
# If Bunco happens to already be installed, then we can just simply put more symbols into their priority 10 patch
# These symbols might not appear in your editor if you don't have a nerd font installed
# There is a nerd font purse symbol at f0f1c, but I can't seem to make it work with my online font builder
# So the purse is set to E001
# But in game it's displayed normally

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = "Clubs = '♣',"
position = 'after'
match_indent = true
payload = '''
dragqueen_Pumps = '',
dragqueen_Purses = '',
six_Moons = '',
ink_Inks = '',
ink_Colors = '',
'''

# Fixes a line of Bunco's code searching assembled strings in various languages if it's there
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = "local result = string.find(assembled_string, localize(key, 'suits_singular')) or string.find(assembled_string, localize(key, 'suits_plural'))"
position = 'at'
match_indent = true
payload = '''
local result = string.find(assembled_string, localize(key, 'suits_singular')) or string.find(assembled_string, localize(key, 'suits_plural')) or string.find(assembled_string, key)
'''

# Text icons
# Otherwise if Bunco doesn't happen to be installed, then we can run pretty much
# The same code as their function
# Difference being the pcall function to see if they've already done it
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
pattern = "local desc_scale = *"
position = 'before'
match_indent = true
payload = '''

local function add_symbol(text, symbol)
    local leading_spaces = string.match(text, "^%s*")

    _, word_amount = text:gsub("%S+","")

    if word_amount == 1 then
        if #leading_spaces > 0 then
            return leading_spaces..symbol..string.sub(text, #leading_spaces + 1)
        else
            return symbol..text
        end
    else
        return text
    end
end



local suit_symbols = {
    Diamonds = '♦',
    Hearts = '♥',
    Spades = '♠',
    Clubs = '♣',
    bunc_Fleurons = '✤',
    bunc_Halberds = '✠',
    paperback_Crowns = '♛',
    paperback_Stars = '★',
    dragqueen_Pumps = '',
    dragqueen_Purses = '',
    six_Moons = '',
    ink_Inks = '',
    ink_Colors = '⊙',
}
if pcall(next, found_strings) == false then
    local found_strings = {}

    -- Ordering the symbol insertion so that symbols appear in the order the words appear in the text
    for key, symbol in pairs(suit_symbols) do
        local result = string.find(assembled_string, localize(key, 'suits_singular')) or string.find(assembled_string, localize(key, 'suits_plural')) or string.find(assembled_string, key)
        if result then
            table.insert(found_strings, {result, symbol})
        end
    end
    table.sort(found_strings, function(a, b)
        return a[1] > b[1]
    end)

    for _, v in ipairs(found_strings) do
        assembled_string = add_symbol(assembled_string, v[2])
    end
end
'''